In [134]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('datasets\cars.csv')

In [136]:
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

## Using Pandas

#### Not good as it doesnt keep the track of column locations

In [137]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

In [138]:
X=df.iloc[:,0:-1]

In [139]:
y=df.iloc[:,-1]

In [140]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [141]:
from sklearn.preprocessing import OneHotEncoder

In [142]:
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [143]:
X_train_new=ohe.fit_transform(X_train[['fuel','owner']])

In [144]:
X_test_new=ohe.transform(X_train[['fuel','owner']])

In [ ]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new)).shape

### Encoding multiple categories

In [146]:
counts = df['brand'].value_counts()

In [147]:

df['brand'].nunique()
threshold = 100

In [148]:
repl = counts[counts <= threshold].index

In [149]:

pd.get_dummies(df['brand'].replace(repl, 'uncommon')).sample(5)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
4639,False,False,False,False,False,False,True,False,False,False,False,False,False
4359,False,False,False,False,True,False,False,False,False,False,False,False,False
1338,False,False,True,False,False,False,False,False,False,False,False,False,False
5684,False,False,False,False,True,False,False,False,False,False,False,False,False
4633,False,False,False,False,False,False,True,False,False,False,False,False,False